<mat-expansion-panel *ngFor="let singleNavigation of navigation">
    <mat-divider *ngIf="singleNavigation.type=='divider'" class="my-2"></mat-divider>
    <mat-expansion-panel-header *ngIf="singleNavigation.type!='divider'">
        <mat-panel-title>
            <mat-icon svgIcon="{{singleNavigation.icon}}"></mat-icon>
            {{singleNavigation.title}}
        </mat-panel-title>
        <mat-panel-description>
            {{singleNavigation.link}}
        </mat-panel-description>
        <mat-icon color="primary" (click)="editNavigation(singleNavigation)">edit</mat-icon>
        <mat-icon color="warn">delete</mat-icon>
    </mat-expansion-panel-header>
    <div>
        <app-navigation-expansion-panel *ngIf="singleNavigation.children"
                                        [navigation]="singleNavigation.children"></app-navigation-expansion-panel>
    </div>
</mat-expansion-panel>
